html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: aqua;
}
body{
    background: url(/assets/images/login_bg.jpg) no-repeat;
    background-size: cover;
}
.header{
    padding-top: 20px;
}
.loginAndregbox{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.boxHeader{
    /* 给盒子设置背景图要有宽高 */
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}
.loginBox,.regBox{
    padding: 0 30px;
}
.regBox{
    display: none;
}
.toReg,.toLogin{
    display: flex;
    justify-content: flex-end;
}
.layui-form-item{
    position: relative;
}
i{
    position: absolute;
    top:10px ;
    left:10px ;
}
.layui-input{
    padding-left: 30px;
}